.eui-btn{
    margin-top: 20px;
    margin-left: 20px;
}
.eui-btn:hover{
    opacity: 0.8;
}
.eui-btn:active{
    opacity: 0.6;
}
.eui-btn-white{
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    text-align: center;
    outline: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    user-select: none;
}
.eui-btn-bluy{
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    background: #409eff;
    border: 1px solid #409eff;
    color: #fff;
    text-align: center;
    outline: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    user-select: none;
}